<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>{{ item.restaurant.name }} </h1>
  <h2>Are you sure you want to delete {{ item.name }} from the menu?</h2>
  <p>
    Price: {{ item.price }}<br>
    Name: {{ item.name }}<br>
    Description: {{ item.description }}
  </p>
  <form action="{{ url_for('deleteMenuItem', restaurant_id=restaurant_id, menu_id=item.id)}}" method="POST">
    <input type='submit' value='Delete'>
  </form>
  <a href="{{ url_for('restaurantMenu', restaurant_id=restaurant_id) }}">Cancel</a>
</body>
</html>